CREATE DATABASE IF NOT EXISTS sitin_application;
USE sitin_application;
CREATE TABLE IF NOT EXISTS users (id INT AUTO_INCREMENT PRIMARY KEY, idno VARCHAR(20) UNIQUE, username VARCHAR(50) UNIQUE NOT NULL, password VARCHAR(255) NOT NULL, firstname VARCHAR(50) NOT NULL, lastname VARCHAR(50) NOT NULL, middlename VARCHAR(50), course VARCHAR(100), year_level INT, role VARCHAR(20) DEFAULT 'student', image_path VARCHAR(255), created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP);
CREATE TABLE IF NOT EXISTS student_session (id INT AUTO_INCREMENT PRIMARY KEY, idno VARCHAR(20) NOT NULL, session INT DEFAULT 0, created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP);
